:root {
  --text-color: red;
  --special-color: #5aa1e8;
  --bg-color: white;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* overflow-y: hidden; */
  /* cursor: crosshair; */
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: var(--text-color);
  -webkit-transition: color .2s;
  transition: color .2s;
}

textarea {
  text-align: left;
}

body {
  height: 100%;
  width: 100%;
  font-size: 13px;
  font-family: "neue-haas-unica", Arial, Helvetica, sans-serif;
  color: var(--text-color);
}

h1 {
  font-family: axia-stencil, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2em;
  margin-bottom: 20px;
}

footer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
  color: #aaa;
}

.sidebar {
  width: 400px;
  padding: 3em;
  /* border: 5px solid red; */
  border-right: 1px solid #ddd;
  position: absolute;
  top: 0;
  left: 0;
}

.sidebaby {
  border-radius: 10px;
}

.sidebaby h2 {
  color: #fff;
  padding: 5px;
  padding-left: 10px;
  margin-left: -5px;
  margin-bottom: 10px;
  border-radius: 50px;
  font-size: 13px;
  font-family: 'Courier New', Courier, monospace;
  background: var(--bg-color);
  -webkit-box-shadow: inset 20px 20px 60px var(--text-color), inset -20px -20px 60px var(--text-color);
          box-shadow: inset 20px 20px 60px var(--text-color), inset -20px -20px 60px var(--text-color);
}

.sidebaby p {
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#starbaby {
  width: 100%;
  height: 70%;
  -webkit-box-shadow: 0px 0px 26px 1px rgba(255, 255, 255, 0.39);
  box-shadow: 0px 0px 26px 1px rgba(255, 255, 255, 0.39);
}

#container {
  width: calc(90vh / 1.4142);
  height: 90vh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 8em;
  top: 3em;
}

.bigbox {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* row-gap column gap */
  row-gap: 10px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

hr {
  border: 0;
  border-bottom: 1px #aaa solid;
}

/* toggle button */
#switches .box {
  width: 19%;
}

.switch {
  position: relative;
  display: inline-block;
  margin-top: 5px;
  width: 60px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--bg-color);
  border: 1px solid #666;
  -webkit-transition: .2s;
  transition: .2s;
  opacity: 0.7;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background: var(--text-color);
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:hover {
  opacity: 1;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

input:checked + .slider {
  background: var(--text-color);
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider::before {
  background: var(--bg-color);
  -webkit-transform: translateX(35px);
  transform: translateX(35px);
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #333;
          box-shadow: 0 0 1px #333;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switchButton {
  border: 1px solid #5aa1e8;
  padding-left: 0px;
}

.color {
  width: 100%;
  margin-left: 5px;
}

#yellow {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 5px;
  margin-left: -5px;
  position: relative;
  background: var(--bg-color);
  border: 1px solid var(--text-color);
  background: #ffff00;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#yellow:hover {
  background: #ffff00;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  cursor: pointer;
}

#bluer {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background: #5aa1e8;
  border: 1px solid var(--text-color);
  -webkit-transform: scale(1);
          transform: scale(1);
}

#bluer:hover {
  background: #5aa1e8;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: background 0.1s;
  transition: background 0.1s;
  cursor: pointer;
}

/* text */
input,
textarea {
  border: 0;
}

input[type="text"],
textarea {
  background: none;
  border-bottom: 1px solid #333;
  border-radius: 0px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 5px 0px;
  font-family: 'Courier New', Courier, monospace;
  color: #aaa;
}

input[type="datetime-local"] {
  background: none;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 20px;
  color: #aaa;
}

input[type="text"]:hover,
textarea:hover {
  border-radius: 13px;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  -webkit-transition: .2s;
  transition: .2s;
}

.wcontainer {
  width: 100%;
}

.pslider {
  -webkit-appearance: none;
  width: 100%;
  height: 24px;
  padding: 5px;
  border-radius: 24px;
  margin-top: 5px;
  background: none;
  border: 1px solid #666;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transform: scale(1);
          transform: scale(1);
  cursor: pointer;
}

.pslider:hover {
  opacity: 1;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.pslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 24px;
  background: var(--text-color);
  cursor: pointer;
}

.pslider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 24px;
  background: var(--text-color);
  cursor: pointer;
}

.download {
  background: var(--text-color);
  color: var(--bg-color);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 24px;
  margin-left: -5px;
  margin-bottom: 10px;
  width: 84px;
  padding: 10px 20px 12px 13px;
  font-size: 13px;
  cursor: pointer;
}

.download:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.download:active {
  background: var(--bg-color);
  color: #ddd;
  border: 1px solid #666;
}

.randomize {
  background: var(--bg-color);
  color: #000;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .2s;
  transition: .2s;
  border: 2px solid #666;
  border-radius: 24px;
  margin-left: -5px;
  margin-bottom: 10px;
  width: 140px;
  padding: 10px 20px 12px 13px;
  font-size: 13px;
  cursor: pointer;
}

.randomize i {
  margin-left: 4px;
  margin-bottom: -1px;
}

.randomize:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.randomize:active {
  background: var(--text-color);
  color: var(--bg-color);
  border: 1px solid #666;
}
/*# sourceMappingURL=main.css.map */